body { background: #f2f2f2; font-family: Arial; }
.container {
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}
button {
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}
