body {
    font-family: Arial;
    margin: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #444;
}

th, td {
    padding: 10px;
    text-align: left;
}

button {
    padding: 8px 15px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
